<html>
    <head>
        <title>ARKA-The Astronomy Club Of IIT(ISM) Dhanbad</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
body{
	margin: 0;
	padding: 0;
	background: url("/images/back.jpg");
	background-size: cover;
	background-position: center;
	font-family: 'Josefin sans', sans-serif;
	align-items: center;
	font-size: large;
}
.container {
  margin-top: 80px;
}
#myNavbar a {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
} 
#myNavbar a:hover {
	font-size: larger;
}
.navbar{
  margin-top: -80px;
  width: 100vw;
  height: 70px !important;
  position: fixed;
  background-color: white;
  font-size: larger;
  color: rgba(0,0,0,0.5);
  z-index: 1000;
}
.navbar-brand {
	min-height: 95px;
	border-radius: 50px !important;
	padding-top: none;
	margin-top: -14px !important;
}
.navbar .navbar-toggle {
	background-color: rgba(0,0,0,.5);
}
#heading{
	color: white;
	background-color: rgba(0,0,0,.5);
	margin: 0px 30px 30px 30px;
	padding: 75px;
	font-family: josefin sans,sans serif;
	font-size: xx-large !important;
 
}
#myCarousel {
	float: right;
}
#youtube {
	color: white;
	background-color: rgba(0,0,0,.5);
	font-family: josefin sans,sans serif;
	margin: 30px;
	padding: 20px;
}
#blogs,#news,#updates {
	color: white;
	background-color: rgba(0,0,0,.5);
	font-family: josefin sans,sans serif;
	margin: 30px;
	padding: 20px;
}
iframe {
	padding: 10px;
}
#showBlog {
	background-color: rgba(0,0,0,.5);
	color: white;
	align-self: center;
}
#showBlog img {
	width: 100%;
}
#showBlog .caption-full {
	padding: 10px;
}
.well{
	background-color: rgba(0,0,0,.5);
	color: white;
}
#blogList {
	float: right;
}
#blogListImage {
	width: 100%;
}
/* .card {
    position: absolute;
    margin: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
} */
/* .card .front {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
}
.card:hover .front {
	transform: rotateX(-180deg);
}
.card .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.5s;
}
.card .back:before {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.1);
}
.card:hover .back {
	transform: rotateX(0deg);
}
.card .back .details {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}
.card .back .details h2 {
	margin: 0;
	padding : 0;
	font-size: 24px;
	color: #fff;
}
.card .back .details h2 span {
	color: #a7a7a7;
	font-size: 16px;
}
.social-icons {
	padding: 10px 0;
}
.social-icons a {
	display: inline-block;
	width: 36px;
	height: 36px;
	text-align: center;
	background: #262626;
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.5s;
}
.social-icons a .fa {
	line-height: 36px;
}
.social-icons a:hover {
	background: #e91e63;
}
.container {
	max-width: 1000px;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card {
	position: relative;
	margin : 20px 0;
	width: 300px;
	height: 400px;
	background: #fff;
	transform-style: preserve-3d;
	transform: perspective(2000px);
	transition: 1s;
	box-shadow: inset 300px 0px 50px rgba(0,0,0,.5);
}
.card:hover {
	transform: perspective(2000px) rotate(-10deg);
	box-shadow: inset 20px 0px 50px rgba(0,0,0,.5);

} */
        </style>
    </head>
    <body>
      <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-fixed fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img src="https://scontent.fdel13-1.fna.fbcdn.net/v/t1.0-9/p960x960/44961125_2238267206217976_5750046574583480320_o.jpg?_nc_cat=109&_nc_sid=85a577&_nc_ohc=mH2vyplyeHQAX9VlpBl&_nc_ht=scontent.fdel13-1.fna&_nc_tp=6&oh=77f36d3dd80f69c0199320ddeec06fdf&oe=5E9ACD61" class="navbar-brand">
         </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="background-color: white;"> 
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/updates">Updates</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href=""><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-envelope"></span> Contact Us<span class="caret"></span></a>
              <ul class="dropdown-menu ml-30px">
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
              </ul>
            </li>
            <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
          </ul>
        </div>
    </nav>
    </header>