<%- include('partials/header') -%>
<div class="container">
    <div class="row">

    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top thumbnail" src="https://scontent.fdel1-4.fna.fbcdn.net/v/t1.0-9/s960x960/60782557_1654545378009824_8878391158309388288_o.jpg?_nc_cat=105&_nc_sid=85a577&_nc_ohc=nxIvYtjZvdkAX8I3L0e&_nc_ht=scontent.fdel1-4.fna&_nc_tp=7&oh=0a99cbbfd7ca7860cab5a6ed891f2a72&oe=5EA223E5" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Shubham Singh</h3>
              <a href="https://www.facebook.com/profile.php?id=100003631325219&epa=SEARCH_BOX"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100003631325219&epa=SEARCH_BOX"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100003631325219&epa=SEARCH_BOX"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top thumbnail" src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/s960x960/32631949_1689144591207215_8801389447028408320_o.jpg?_nc_cat=104&_nc_sid=13bebb&_nc_ohc=6jx7yZeBQzAAX8ZwKuY&_nc_ht=scontent.fdel1-2.fna&_nc_tp=7&oh=aa1db903dc48e2b3313208488f2cf1ad&oe=5EA0A02C" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Jks Suryarao</h3>
              <a href="https://www.facebook.com/jkssuryarao"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/jkssuryarao"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/jkssuryarao"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top thumbnail" src="https://scontent.fdel1-3.fna.fbcdn.net/v/t1.0-9/s960x960/84175388_2573877012934961_1701578910673666048_o.jpg?_nc_cat=106&_nc_sid=13bebb&_nc_ohc=PfAJPuJCZ2MAX96Uue7&_nc_ht=scontent.fdel1-3.fna&_nc_tp=7&oh=96a7823351903b092d82a04fd5c18432&oe=5EA01CC6" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Archisman Bhattacharjee</h3>
              <a href="https://www.facebook.com/profile.php?id=100009380622353"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100009380622353"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100009380622353"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top thumbnail" src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/p960x960/75580492_1444360879047690_1472921483264131072_o.jpg?_nc_cat=101&_nc_sid=8024bb&_nc_ohc=U-kO8Cvah9YAX_QcjkQ&_nc_ht=scontent.fdel1-2.fna&_nc_tp=6&oh=9103673bf35543a6b28299004e5032f5&oe=5EA1DFBC" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Akshay Jain</h3>
              <a href="https://www.facebook.com/profile.php?id=100004213751280"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100004213751280"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100004213751280"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top thumbnail" src="https://scontent.fdel1-3.fna.fbcdn.net/v/t1.0-9/p720x720/71310075_1260272680811449_5343541539358375936_o.jpg?_nc_cat=103&_nc_sid=7aed08&_nc_ohc=A4eu8OtHONoAX-Ynltk&_nc_ht=scontent.fdel1-3.fna&_nc_tp=6&oh=4c51b5b1f06dae0556e7bbe8bb2ecbc6&oe=5E9FB359" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Shubham Kumar</h3>
              <a href="https://www.facebook.com/shubham.aarya.100"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/shubham.aarya.100"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/shubham.aarya.100"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top thumbnail" src="https://scontent.fdel1-3.fna.fbcdn.net/v/t1.0-9/p960x960/78537877_975419992836726_3959671444153040896_o.jpg?_nc_cat=103&_nc_sid=85a577&_nc_ohc=tVpGHRIGAvAAX_SnpWQ&_nc_ht=scontent.fdel1-3.fna&_nc_tp=6&oh=29c0236b80e3fe98c2e2fad4952c494a&oe=5EA07522" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Abhishek Kumar Jain</h3>
              <a href="https://www.facebook.com/profile.php?id=100011062030626"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100011062030626"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100011062030626"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer') -%>
